body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  background-color: rgba(108, 117, 125, 0.158)
}

.toastSuccess {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
}

.toastSuccess.show {
  display: block;
  animation: fadeInOut 3s ease-in-out 1;
}

.toastError {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #dd4e4e;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
}

.toastError.show {
  display: block;
  animation: fadeInOut 3s ease-in-out 1;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-20px); }
  10%, 90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-20px); }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
}